:root {
    --background: #160F29;
    --blue1: #246A73;
    --blue2: #368F8B;
    --font-color: #FFFFFF;
    --call-to-action: #ed254e
    --black: #000000;
}

body {
    background-color: var(--background)
}

header {
    display: flex;
    height: 10em;
    justify-content: center;
    align-items: center;
    background: #738290 fixed no-repeat;
}

section#about h1{
    display: flex;
    justify-content: center;
    background: var(--blue2);
    width: 250px;
    height: 50px;
    margin-left: 200px;
    text-transform: uppercase;
}

section#about p{
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
}

section#skill h1{
    display: flex;
    justify-content: center;
    background: var(--blue2);
    width: 420px;
    height: 50px;
    margin-top: 50px;
    margin-left: 200px;
    text-transform: uppercase;
}

section#skill ul {
    margin-top: 50px;
}
section#skill li {
    display: flex;
    margin-left: 160px;
}

footer {
    display: flex;
    /*margin-left: 200px;*/
    background: #738290 fixed no-repeat;
}

section#link img {
    display: flex;
    margin-left: 200px;
    margin-right: 10px;
}

section#link a {
    margin-left: 200px;
    margin-right: 10px;
}

section#link div {
    display: flex;
    justify-content: center;
}