:root {
    --background: #160F29;
    --blue1: #246A73;
    --blue2: #368F8B;
    --font-color: #FFFFFF;
    --call-to-action: #ed254e
    --black: #000000;
    --card-margin: 10px;
    --text-indentation: 10px;
    --item-margin: 10px;
    --item-margin-left: 25px;
    --item-border-radius: 20px;
    --img-border-radius: 90px;
    --svg-height: 25px;
    --svg-width: 25px;
    --text-margin: 10px;
}

body {
    background: url('../img/header_bg.jpg') fixed no-repeat;
    font-family: 'Courier New', Courier, monospace;
    color: var(--font-color);
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    width: 800px;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #738290 fixed no-repeat;
}

.cv_body {
    width: 800px;
}

.top-bar {
    background-color: var(--background);
    display: flex;
    margin-top: var(--card-margin);
    margin-bottom: var(--card-margin);
    border-radius: var(--item-border-radius);
}

.profile-img {
    width: 150px; 
    height: 150px;
    border-radius: var(--img-border-radius);
}

.description-container {
    background-color: var(--blue2);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--card-margin);
    margin-left: var(--card-margin);
    border-radius: var(--item-border-radius);
    text-wrap: wrap;
    padding: 10px;
}

.description-container p {
    margin: var(--text-margin)
}

.main-body {
    display: flex;
    justify-content: space-around;
}

.left-bar {
    width: 300px;
}

.links-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: var(--item-border-radius);
    margin-bottom: var(--card-margin);
    background-color: var(--blue2);
}

.container-item {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin: var(--item-margin);
    margin-left: var(--item-margin-left);
}

.container-item img {
    width: var(--svg-width);
    height: var(--svg-height);
}

.container-item p {
    margin: auto;
    margin-left: 25px;
}

.links-container div a {
    text-decoration: none;
    margin-left: 25px;
    margin-top: 4px;
    color: var(--font-color);
}

.language-container {
    background-color: var(--blue2);
    display: flex;
    flex-direction: column;
    border-radius: var(--item-border-radius);
    margin-bottom: var(--card-margin);
}

.language-container table {
    margin-left: var(--item-margin);
    margin-right: var(--item-margin);
    margin-bottom: var(--item-margin);
    margin-top: var(--item-margin);
}

.other-container {
    background-color: var(--blue2);
    display: flex;
    flex-direction: column;
    border-radius: var(--item-border-radius);
    padding: 5px;
}

/* .right-bar {
    background-color: var(--background);
} */

.xp-pro-container {
    background-color: var(--blue2);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--card-margin);
    margin-left: var(--card-margin);
    border-radius: var(--item-border-radius);
    text-wrap:wrap;
    text-indent: var(--text-indentation);
}

.courses-container {
    background-color: var(--blue2);
    display: flex;
    flex-direction: column;
    border-radius: var(--item-border-radius);
    margin-bottom: var(--card-margin);
    margin-left: var(--card-margin);
}

.competencies-container {
    background-color: var(--blue2);
    display: flex;
    flex-direction: column;
    border-radius: var(--item-border-radius);
    margin-bottom: var(--card-margin);
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: var(--item-margin);
    margin-bottom: var(--item-margin);
}

.language-table tr td:first-child {
    font-weight: bold;
}

.text-item {
    margin: var(--text-margin);
}